<!DOCTYPE html>
<html ng-app="phone">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>UT Phonebook</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700|Roboto+Slab:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body ng-controller="PhonebookController as phonebook">
    <div id="wrap">
      <header>
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        <h1>UT Phonebook</h1>
      </header>
      <main>
        <form name="addContactForm" class="addContactForm" ng-class="{collapsed: phonebook.collapsed}" ng-submit="phonebook.addContact(phonebook.newContact); phonebook.resetForm(addContactForm)" novalidate>
          <h2 ng-click="phonebook.collapsed = !phonebook.collapsed">
            Add New Contact
            <i class="fa fa-plus" aria-hidden="true"></i>
          </h2>
          <input ng-model="phonebook.newContact.firstName" type="text" name="firstName" placeholder="First Name" required>
          <input ng-model="phonebook.newContact.lastName" type="text" name="lastName" placeholder="Last Name" required>
          <input ng-model="phonebook.newContact.phone" type="tel" name="phoneNumber" placeholder="555-555-5555" ng-pattern="/1?[-\s]?[0-9]{3}[-\s]?[0-9]{3}[-\s]?[0-9]{4}/" required>
          <button type="submit" name="button" ng-disabled="addContactForm.$invalid">Add Contact</button>
        </form>

        <aside class="userMessage" ng-class="{visibleMessage: phonebook.message}">
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          <p>{{phonebook.message}}</p>
          <i ng-click="phonebook.message = ''" class="fa fa-times" aria-hidden="true"></i>
        </aside>

        <form class="filterForm">
          <input type="text" placeholder="Filter Results" ng-model="phonebook.tableFilter">
        </form>

        <table>
          <thead>
            <tr>
              <th ng-click="phonebook.sortColumn = 'firstName'; phonebook.sortReverse = !phonebook.sortReverse">
                First Name
                <i ng-class="{caretPointDown: (phonebook.sortColumn === 'firstName') && phonebook.sortReverse, visibleCaret: phonebook.sortColumn === 'firstName'}" class="fa fa-caret-up" aria-hidden="true"></i>
              </th>
              <th ng-click="phonebook.sortColumn = 'lastName'; phonebook.sortReverse = !phonebook.sortReverse">
                Last Name
                <i ng-class="{caretPointDown: (phonebook.sortColumn === 'lastName') && phonebook.sortReverse, visibleCaret: phonebook.sortColumn === 'lastName'}" class="fa fa-caret-up" aria-hidden="true"></i>
              </th>
              <th ng-click="phonebook.sortColumn = 'phone'; phonebook.sortReverse = !phonebook.sortReverse">
                Phone Number
                <i ng-class="{caretPointDown: (phonebook.sortColumn === 'phone') && phonebook.sortReverse, visibleCaret: phonebook.sortColumn === 'phone'}" class="fa fa-caret-up" aria-hidden="true"></i>
              </th>
              <th ng-click="phonebook.sortColumn = 'star'; phonebook.sortReverse = !phonebook.sortReverse">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i ng-class="{caretPointDown: (phonebook.sortColumn === 'star') && phonebook.sortReverse, visibleCaret: phonebook.sortColumn === 'star'}" class="fa fa-caret-up" aria-hidden="true"></i>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contact in phonebook.contactsList | orderBy:phonebook.sortColumn:phonebook.sortReverse | filter:phonebook.tableFilter">
              <td data-label="First Name" contenteditable ng-blur="phonebook.editContact($event, contact, 'firstName')">{{contact.firstName}}</td>
              <td data-label="Last Name" contenteditable ng-blur="phonebook.editContact($event, contact, 'lastName')">{{contact.lastName}}</td>
              <td data-label="Phone Number" contenteditable ng-blur="phonebook.editContact($event, contact, 'phone')">{{contact.phone | bcTelephone: 'format'}}</td>
              <td class="starButton" ng-click="phonebook.starContact(contact)">
                <i ng-hide="contact.star" class="fa fa-star-o" aria-hidden="true"></i>
                <i ng-show="contact.star" class="fa fa-star" aria-hidden="true"></i>
              </td>
              <td class="deleteButton" ng-click="phonebook.deleteContact(contact)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <p>(click on any field to edit)</p>
      </main>
    </div>

    <footer>
      <p>Built by <a href="https://mattgrosso.herokuapp.com" target="_blank">Matt Grosso</a></p>
    </footer>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js'></script>
    <script src="https://use.fontawesome.com/d0e9be0862.js"></script>
    <script src="js/angular-telephone-filter.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
