.userMessage{
  position: absolute;
  left: 20px;
  top: 40px;
  text-align: left;
  color: black;
  font-size: 1.2em;
  padding: 20px 40px 24px 30px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 20px -9px black;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  &.visibleMessage{
    opacity: 1;
    pointer-events: all;
  }
  p{
    display: inline;
  }
  i{
    font-size: 1.7em;
    margin-right: 10px;
  }
  .fa-times{
    position: absolute;
    right: -7px;
    top: 0px;
    font-size: 1em;
    cursor: pointer;
  }
}
