body{
  font-family: 'Raleway', sans-serif;
}

header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  padding: 13px;
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  background-color: #A0D2DB;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 20px -9px black;
  h1{
    margin-left: 15px;
  }
}

.addContactForm{
  display: block;
  width: 500px;
  padding: 15px 25px 7px;
  margin: auto;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0 1px 20px -9px black;
  h2{
    margin-bottom: 10px;
    font-size: 1.4em;
  }
  input{
    width: 29%;
    margin: 10px 1px;
    font-size: 0.8em;
    line-height: 2.3em;
    padding: 0px 5px;
  }
  button{
    display: block;
    float: right;
    margin: 10px 0px;
    font-size: 1.1em;
    color: white;
    padding: 5px 25px;
    background-color: #4A7C59;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 20px -9px black;
    border-radius: 3px;
  }
}

table{
  width: 85%;
  margin: 30px auto;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  border-collapse: inherit;
  box-shadow: 0 1px 20px -9px black;
  thead{
    font-size: 1.2em;
    text-align: left;
    th{
      background-color: #A0D2DB;
      padding: 8px 0px 8px 10px;
    }
    th:nth-of-type(1){
      border-top-left-radius: 3px;
    }
    th:nth-of-type(5){
      border-top-right-radius: 3px;
    }
  }
  tbody{
    tr{
      cursor: text;
      td{
        padding: 6px 0px 6px 10px;
      }
      td:nth-of-type(1){
        border-left: 2px solid transparent;
      }
      td:nth-of-type(5){
        border-right: 2px solid transparent;
      }
      &:hover > td:nth-of-type(1){
        border-left: 2px solid #5299D3;
      }
      &:hover > td:nth-of-type(5){
        border-right: 2px solid #5299D3;
      }
    }
    tr:nth-child(even){
      background-color: #BEE7E8;
    }
  }
}

.clearfix{
  display: block;
  clear: both;
}
